.sidebar{
    height: 150vh;
    background-color: var(--sec-bg-primary);
    overflow-y: scroll;
}
.logo {
    font-size:1.6rem;
    font-weight: 600;
}
.logo h2 {
    color: var(  --second-font-color);
    font-weight: 600;
}
.logo h2 span {
    color:#fff;
}
.main_logo p {
    /* color: #e8eddf; */
    color: #e1e5f2;
    font-size: .8rem;
}
.nav_menu_navigation{
    background-color: var(--bg-primary);
    padding:.6rem  .4rem;
    border-radius: .5rem;
}

.profile {
    background-color: var(--bg-primary);
    border-radius: .5rem;
}
.bell,.door  {
    padding: .4rem .6rem;
    border-radius: .2rem;
}
.bell:hover, .bell:active, .door:hover, .door.active{
    background-color: #3d3c3c;
    transition: all .2s ease-in;
}

.board_content, .project_content{
    background-color: var(--bg-primary);
    padding:.6rem  .4rem;
    border-radius: .5rem;
    /* overflow-y: scroll; */
    height: 50%;
}
.board_title h3, .project_title h3 {
    color: #e1e5f2;
}
.create {
    border-radius: 5px;
}
.create:active, .create:hover{
    background-color: #3d3c3c;
    transition: all .2s ease-in;
}

.theme_content {
    background-color: var(--bg-primary);
    padding:.6rem  .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
    border-radius: .5rem;
}
.theme_content .light, .theme_content .dark {
    background-color: #333533;
    padding: .4rem 1rem;
    border-radius:1rem;
}
.modal_header,.modal_body, .modal_footer {
    /* background-color:#333533; */
    background-color: #1a2029;
    box-shadow: 0px 2px 2px 2px #13171d;
}
.board_img p {
    cursor: pointer;
    width: 100%;
    color:#fff;
    text-align: center;
    position: absolute;
    bottom: 0rem;
    padding: 1rem 0;
    background-color:#cfcece;
    opacity: 0;
    color: #3d3c3c;
    font-size: 1rem;
    text-decoration: underline;
    transition: all 0.4s ease;
}
.board_img:hover p {
    opacity: 0.8;
}
.board_title label {
    color: #ccc;
    margin-bottom: 0.5rem;
    
}
.board_title p {
    color: #ccc;
}
.board_title label span {
    color: red;
}
.board_title input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-radius: .5rem;
}

.board_create{
    background-color: var(--second-primary);
}
.cancel {
    background-color: var( --first-primary);
   color: #fff;
}

.board_items_list{
    margin: 1rem 0;
    border-radius: .5rem;
    padding:.4rem .5rem;
    transition: all .3s ease-in;
}
.board_items_list:hover {
    background-color: #333533;
}

.side_menu_section{
    background-color: var(--sec-bg-primary);
    padding:.6rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 1px 1px #202020;
}
.side_menu_section .greeting_content p {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.04em;
}
.side_menu_section .search_content {
    background-color: #242423;
    width: 70%;
    border-radius: 1rem;
    padding: 0 .8rem;
}
.side_menu_section .search_content img {
    display: block;
    background-color: #242423;
    border-radius: .5rem;
}
.search_content input {
    background-color: #242423;
    border-radius: 1rem;
    width: 100%;
    border: 1px solid #242423;
    outline: none;
}
.search_content input:hover, .search_content input:focus, .search_content input:active{
    border-color: #333332;
    outline: none;
}
.list_content_date {
    margin-top: 2rem;
}
.create_btn{
    margin-top: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

}
.create_btn img {
    background-color: var(--sec-bg-primary);
    border-radius: .5rem;
    box-shadow: 0px 2px 2px 2px #1e1f1e;
}

form {
    margin-top: 3rem;
    background-color: #333533;
    width: 30%;
    border-radius: .5rem;
    outline: 1px solid #bdbcbc;
    padding: .5rem 1rem;

}
form .task_name input {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: .5rem;

}
form .task_name input:focus,form .task_name input:active{
    outline: none;
    border: 1px solid #ccc;
}
form .task_btn img {
    background-color: var(--sec-bg-primary);
    border-radius: .5rem;
}
.main_task_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.main_task_content{
    background-color: #333533;
    border-radius: .5rem;
    box-shadow: 0px 2px 1px 1px #1e1f1e;
    padding: .6rem 1rem;
    gap:1rem;
}
.main_task_content:hover {
    transition: all 0.6. ease-in;
    box-shadow: 0px 2px 1px 1px #181818;

}
.main_task_content .task_check input {
    border-radius:2rem;
}

.main_task_content .task_title h3 {
    color: #fff;
}
.task_title p {
    color: #ccc;
}
.toast {
    background-color: #333533;
    border-radius: .5rem;
    box-shadow: 0px 2px 1px 1px #1e1f1e;
    position: fixed;
    right: 0;
    bottom: 0rem;
}
.update_title_input input{
    background-color: transparent;
    border-radius: .5rem;
    width: 100%;
}